{% extends "layout.html" %}
{% block body %}
    <iframe id="calibre_book_details_frame" src="{{ calibre_url }}/browse/book/{{ book.id }}" scrolling="no" seamless="seamless"></iframe>

    <h1>Update book location</h1>

    {% if book.is_ebook %}
    <h2>It looks like it's an e-book. Download it directly from Calibre by clicking on the cover or borrow a company
    Kindle from the reception if it's in a Kindle format.</h2>
    {% else %}
    <h2>Current location: {{ book.current_location }}</h2>
    NOTE: location information in Calibre might take a while to be updated.

    <form method="post" action="update_location">
    <ul id="location_actions">
        <li><strong>I have this book!</strong> my name is <input type="text" name="location"/> <input type="submit" name="update_person" value="Save"/></li>
        <li>or</li>
        <li>
            <strong>It's at </strong>
            <select name="shelf">
                {% for shelf in shelves %}
                    <option value="{{ shelf }}">{{ shelf }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="update_shelf" value="Save"/>
        </li>
    </ul>
    </form>
    {% endif %}
{% endblock %}